.logo {
  background-image: url(../../images/logo.svg);
  width: 142px;
  height: 33px;
  margin: 0 0 41px 0;
  background-repeat: no-repeat;
  background-repeat: round;
}

@media all and (max-width: 900px) {
  .logo {
    width: 104px;
    height: 24px;
    margin: 0 0 32px 27px;
  }
}
